<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index Page</h1>
    <h4>Name : <span th:text="${name}"></span></h4>
    <h4>Age : <span th:text="${age}"></span></h4>
    <h4>Address : <span th:text="${address}"></span></h4>
    <h4>Email : <span th:text="${email}"></span></h4>
    <h4>linkedin : <a data-th-href="${linkedin}">linkedin</a></h4>
</body>
</html>